{% extends "base.html" %}
{% load bootstrap %}

{% block title %}確認{% endblock title %}

{% block content %}
    <h3 class="page-header">確認</h3>
    {% for field in form %}
        {{ field.label_tag }}{{ field.value }}<br>
    {% endfor %}
    <form action="{% url 'forms:complete' %}" method="post" class="form-horizontal" role="form">
        <div style="display:none">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
        </div>
        <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">応募</button>
                </div>
        </div>
    </form>

    <form action="{% url 'forms:entry' %}" method="post" class="form-horizontal" role="form">
        <div style="display:none">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">戻る</button>
            </div>
        </div>
  </form>    
{% endblock content %}